@tailwind base;
@tailwind components;
@tailwind utilities;

.active-field {
	div {
		position: relative;
	}
}

div:focus {
	.active-field {
		div:last-child {
			&:after {
				content: '';
				width: 1px;
				height: 100%;
				background-color: #000;
				position: absolute;
				display: inline-block;
				animation: cursorflash 1s infinite;
			}
		}
	}
}

@keyframes cursorflash {
	0% {opacity: 0}
	49% {opacity: 0}
	50% {opacity: 1}
}
